<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{- partial "head.html" . -}}

  <link rel="stylesheet" type="text/css" href="themes/blank/static/css/style.css">

  <script type="application/json" class="js-hypothesis-config">
    {
      "theme": "clean",
      "openSidebar": false
    }
  </script>
  <title>{{ .Title }}</title>

  <!--
  <script type="application/json" class="js-hypothesis-config">
    {
      "theme": "clean",
      "openSidebar": false
    }
  </script>
  <script async="" src="https://hypothes.is/embed.js"></script>
-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  <script>
    $(document).ready(function () {
      var sections = $('h1[id], h2[id], h3[id], h4[id], h5[id], h6[id]');

      function scrollToSection(targetSectionId) {
        $('html, body').animate({
          scrollTop: $(targetSectionId).offset().top
        }, 500); // Animation de défilement en 500 millisecondes
      }

      // Gestion de l'événement click sur les liens de la table des matières
      $('body').on('click', '.table-of-contents a', function (e) {
        e.preventDefault();
        var targetSectionId = $(this).attr('href');
        scrollToSection(targetSectionId);
        history.pushState(null, null, targetSectionId);
      });

      // Gestion de l'événement popstate pour mettre à jour la section active lorsque l'URL change
      $(window).on('popstate', function () {
        var targetSectionId = location.hash;
        if (targetSectionId) {
          scrollToSection(targetSectionId);
        }
      });

      // Vérification de la section active au chargement de la page
      $(window).on('load', function () {
        var targetSectionId = location.hash;
        if (targetSectionId) {
          scrollToSection(targetSectionId);
        }
      });
    });
  </script>





  <script>
    var timeoutId;

    function showNav(element) {
      clearTimeout(timeoutId); // Annule le délai avant le masquage
      var nav = element.querySelector('.' + element.dataset.hoverClass);
      if (nav) {
        nav.style.display = 'block';
      }
    }

    function hideNav(element) {
      timeoutId = setTimeout(function () {
        var nav = element.querySelector('.' + element.dataset.hoverClass);
        if (nav) {
          nav.style.display = 'none';
        }
      }, 1200); // Délai en millisecondes avant de masquer les options (ici, 0.5 seconde)
    }
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var humeurPercentage = "{{ .Params.humeur }}"; // Remplacez par la valeur réelle de votre métadonnée

      var flexibleLines = document.querySelector(".flexible-lines");
      var numLines = Math.round((humeurPercentage / 100) * 100); // Nombre de lignes en fonction de l'humeur

      for (var i = 0; i < numLines; i++) {
        var line = document.createElement("div");
        line.classList.add("flexible-line");
        line.style.top = Math.random() * 100 + "%"; // Position verticale aléatoire
        line.style.left = Math.random() * 100 + "%"; // Position horizontale aléatoire
        line.style.transform = "rotate(" + Math.random() * 360 + "deg)"; // Rotation aléatoire
        flexibleLines.appendChild(line);
      }
    });
  </script>



</head>




<body class="fond">
  {{ block "header" . }}{{ end }}
  {{ block "main" . }}{{ end }}
  <section class="Body">

    <div class="NO" data-hover-class="nav" onmouseover="showNav(this)" onmouseout="hideNav(this)">
      NO
      <div class="nav" style="display: none;">
        <a href="{{ relref . "" }}" class="NOright">Outils imaginaires</a>
        <!-- <a href="{{ relref . "/" }}" class="NObottom">Tuto pour les morts</a>-->
      </div>
    </div>


    <div class="NOE" data-hover-class="nav" onmouseover="showNav(this)" onmouseout="hideNav(this)">
      NOE
      <div class="nav" style="display: none;">
        <a href="{{ relref . "" }}" class="NOEright">About</a>
        <a href="{{ relref . "/credits" }}" class="NOEdiagonal">Crédits</a>
        <a href="" class="NOEleft">.</a>
      </div>
    </div>

    <div class="NE" data-hover-class="nav" onmouseover="showNav(this)" onmouseout="hideNav(this)">
      NE
      <div class="nav" style="display: none;">
        <a href="{{ relref . "/medition" }}" class="NEleft">Méditions</a>
        <a href="" class="NEbottom">Inférences</a>
      </div>
    </div>

    <div class="Centre">
      <div class="content">

        <main>
          <article>
            <h1>{{ .Title }}</h1>

            <h2>{{ .Description }}</h2>

            <p>{{ .Content }}</p>



          </article>
        </main>
  </section>

  </div>
  </div>




  </div>

  <section class="ToC">

    <div class="table-of-contents-link">
      {{ .TableOfContents | replaceRE "(<a.*?)" "$1 class=\"table-of-contents-link\"" | safeHTML }}

    </div>
  </section>

  <div class="Logo">
    {{- partial "header.html" . -}}
  </div>


  <div class="NOS" data-hover-class="nav" onmouseover="showNav(this)" onmouseout="hideNav(this)">
    NOS
    <div class="nav" style="display: none;">
      <a href="{{ relref . "/" }}" class="NOStop">Conférences</a>
      <a href="" class="NOSbottom">Publications</a>
    </div>
  </div>

  <div class="NES" data-hover-class="nav" onmouseover="showNav(this)" onmouseout="hideNav(this)">
    NES
    <div class="nav" style="display: none;">
      <a href="{{ relref . "/" }}" class="NEStop">Hyper-Textes</a>
      <a href="" class="NESbottom">Texte-Vidéos</a>
    </div>
  </div>

  <div class="SO" data-hover-class="nav" onmouseover="showNav(this)" onmouseout="hideNav(this)">
    SO
    <div class="nav" style="display: none;">
      <a href="{{ relref . "/cherches" }}" class="SOtop">Carnet</a>
      <!--   <a href="" class="SOleft">Fabrique</a>-->
    </div>
  </div>


  {{ $section := .Section }}
  {{ if not (in .File.Path "pages") }}
  <!-- Vérifie si la page actuelle n'est pas dans le dossier "pages" -->
  <section class="Navigation">
    {{ with .PrevInSection }}
    {{ if eq .Section $section }}
    <a href="{{ .RelPermalink }}">Previous</a>
    {{ end }}
    {{ end }}

    {{ with .NextInSection }}
    {{ if eq .Section $section }}
    <a href="{{ .RelPermalink }}">Next</a>
    {{ end }}
    {{ end }}
  </section>
  {{ end }}



  <section class="Bas">

    {{- partial "footer.html" }}
  </section>

  <div class="SE" style="margin-left: -1%;" data-hover-class="nav" onmouseover="showNav(this)" onmouseout="hideNav(this)">
    SE
    <div class="nav" style="display: none;">
      <!--  <a href="{{ relref . "/" }}" class="SEright">Mécréations</a>-->
      <a href="" class="SEtop">.</a>
    </div>
  </div>

  </section>


  <script>
    const rippleContainer = document.querySelector('.ripple');

    for (let i = 0; i < 10; i++) {
      const circle = document.createElement('div');
      circle.className = 'ripple-circle';
      if (i % 2 === 0) { // make every other circle conductive
        circle.classList.add('conductive');
      }
      rippleContainer.appendChild(circle);
    }
  </script>

  <script>
    function changeOverlayColor() {
      const overlay = document.querySelector('.overlay');

      const currentColor = overlay.style.backgroundColor;

      const rgbaValues = currentColor.match(/rgba?$(\d+),\s*(\d+),\s*(\d+)(?:,\s*([\d.]+))?$/);

      if (rgbaValues) {
        let r = parseInt(rgbaValues[1]);
        let g = parseInt(rgbaValues[2]);
        let b = parseInt(rgbaValues[3]);
        const alpha = rgbaValues[4] || 0.048; // Conserver la même transparence

        // Changer légèrement la teinte (ajustement plus prononcé)
        r = (r + Math.floor(Math.random() * 30) - 15) % 256; // Ajustement plus prononcé
        g = (g + Math.floor(Math.random() * 30) - 15) % 256; // Ajustement plus prononcé
        b = (b + Math.floor(Math.random() * 30) - 15) % 256; // Ajustement plus prononcé

        // Mettre à jour la couleur de fond de l'overlay
        overlay.style.backgroundColor = `rgba(${r}, ${g}, ${b}, ${alpha})`;
      }
    }

    // Changer la couleur toutes les 1 seconde (1000 ms)
    setInterval(changeOverlayColor, 1000);
  </script>


</body>

</html>