@font-face {
  src: url('fonts/OutputSans-Light-Edu.woff2') format("woff2"),
       url('fonts/OutputSans-Light-Edu.woff') format("woff");
  font-family: 'OutputSans';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('fonts/OutputSans-Regular-Edu.woff2') format("woff2"),
       url('fonts/OutputSans-Regular-Edu.woff') format("woff");
  font-family: 'OutputSans';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/OutputSans-Medium-Edu.woff2') format("woff2"),
       url('fonts/OutputSans-Medium-Edu.woff') format("woff");
  font-family: 'OutputSans';
  font-style: normal;
  font-weight: 500;
}

