<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="{{ .Site.Params.author }} - {{ .Site.BaseURL }}">
        <title>{{ if eq .IsHome true }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
        <meta name="description" content="{{ if ne .Description "" }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
      {{ template "_internal/twitter_cards.html" . }}
      {{ template "_internal/opengraph.html" . }}
      {{ template "_internal/schema.html" . }}
        <link rel="canonical" href="{{ .Permalink | absURL }}">
        <link rel="dns-prefetch" href="https://www.google-analytics.com">
        <link href="https://www.google-analytics.com" rel="preconnect" crossorigin>
        <link rel="alternate" type="application/atom+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}atom.xml" />
        <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}feed.json" />
        {{ $styles := resources.Get "impression.scss" | css.Sass (dict "outputStyle" "compressed") | minify }}
        <style>{{ $styles.Content | safeCSS }}</style>
        {{ $stylesimp := resources.Get "impression-interface.scss" | css.Sass (dict "outputStyle" "compressed") | minify }}
        <style>{{ $stylesimp.Content | safeCSS }}</style>
        <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
      </head>
      
<body>
<main>

  <section>
    <h1 id="titre">{{ .Site.Title }}</h1>
      <h2 itemprop="name headline" class="subtitle" id="soustitre">{{ .Title }}</h2>
      <span itemprop="articleBody">
        {{ if .Params.toc }}
        <h3>Table des matières de la page</h3>
        {{ .TableOfContents }}
        {{ end }}
      {{ .Content }}
      <small class="credits" id="credits">CC BY-NC-SA Antoine Fauchié</small>
      </span> 

    </section>
  </main>
</body>
</html>