<!-- Navigation principale du site -->

<div class="NO nav-point">

  <span class="nav-dot">●</span>
  <a href="{{ relref . "/about" }}" class="nav-label">à boutte</a>
  <!-- <div class="nav" style="display: none;">
    <a href="{{ relref . "/" }}" class="NOright">Outils imaginaires</a>
  </div> -->
</div>

<div class="NOE nav-point">
  <a href="{{ relref . "/meditions" }}" class="nav-label">Méditions</a>
  <span class="nav-dot">●</span>
  <a href="{{ relref . "/carnet" }}" class="nav-label">Carnet</a>
  <!-- <div class="nav" style="display: none;">
    <a href="{{ relref . "/" }}" class="NOEright">About</a>
    <a href="{{ relref . "/credits" }}" class="NOEdiagonal">Crédits</a>
  </div> -->
</div>

<div class="NE nav-point">
  <a href="{{ relref . "/inferences" }}" class="nav-label">Inférences</a>
  <span class="nav-dot">●</span>
  <!-- <div class="nav" style="display: none;">
    <a href="/meditions/" class="NEleft">Méditions</a>
    <a href="/inferences/" class="NEbottom">Inférences</a>
  </div> -->
</div>

<div class="NOS nav-point">
  <span class="nav-dot">●</span>
  <a href="{{ relref . "/creations" }}" class="nav-label">Créations<sup></br>(notes de)</sup></a>

  <!-- <div class="nav" style="display: none;">
    <a href="{{ relref . "/" }}" class="NOStop">Conférences</a>
    <a href="" class="NOSbottom">Publications</a>
  </div> -->
</div>

<div class="NES nav-point">
  <a href="{{ relref . "/petites" }}" class="nav-label">Petites</a>
  <span class="nav-dot">●</span>
  <a href="{{ relref . "/outopies" }}" class="nav-label">Outopies</a>
  <!-- <div class="nav" style="display: none;">
    <a href="{{ relref . "/" }}" class="NEStop">HyperTextes</a>
    <a href="" class="NESbottom">Texte-Vidéos</a>
  </div> -->
</div>

<div class="SO nav-point">

  <a href="{{ relref . "/hypertextes" }}" class="nav-label">HyperTextes</a>
  <span class="nav-dot">●</span>
  <a href="{{ relref . "/textes-videos" }}" class="nav-label">Textes-Vidéos</a>
  <!-- <div class="nav" style="display: none;">
    <a href="/carnet/" class="SOtop">Carnet</a>
    <a href="/petites/" class="SObottom">Petites</a>
  </div> -->
</div>

<div class="SE nav-point">

  <span class="nav-dot">●</span>  
  <a href="{{ relref . "/credits" }}" class="nav-label">Crédits</a>
  <!-- <div class="nav" style="display: none;">
    <a href="/creations/" class="SEtop">Créations</a>
    <a href="/outopies/" class="SEbottom">Outopies</a>
  </div> -->
</div>
